<?php $edit = $this->url(array('edit', 'index')) ?>

<div>
<a class="btn" href="/activity/create"><i class="icon-plus"></i> Pridat zasobu</a>
<a class="btn" href="/create"><i class="icon-plus"></i> Novy produkt</a>
</div>
<table class="table table-striped table-hover">
<caption>Produkty</caption>
<thead>
<tr>
<th>Produkt</th>
<th>Mnozstvo</th>
<th>Pridat zasobu</th>
<th>Uprav produkt</th>
<th>Vymaz</th>
</tr>
</thead>
<tbody>
<?php foreach ($this->items as $item): ?>
<tr>
<td><a href="/activity/<?=$item['id']?>" title="Zobrazit pohyb"><?=$item['name']?></a></td>
<td><?=$item['sum']?></td>
<td><a href="/activity/<?=$item['id']?>/create" title="Pridat zasobu"><i class="icon-plus"></i></a></td>
<td><a href="/edit/<?=$item['id']?>" title="Upravit produkt"><i class="icon-edit"></i></a></td>
<td><a href="/delete/<?=$item['id']?>" title="Vymazat produkt"><i class="icon-remove"></i></a></td>
</tr>
<?php endforeach; ?>
</tbody>
</table>
