<table class="table table-striped table-hover">
<caption>Pohyby</caption>
<thead>
<tr>
<th>Datum</th>
<th>Mnozstvo</th>
<th>Dodavatel</th>
<th>Vymaz</th>
</tr>
</thead>
<tbody>
<?php foreach ($this->prod as $item): ?>
<tr>
<td><?= $this->date($item->date) ?></td>
<td><?= $item->quantity ?></td>
<td><?= $this->supp[$item->supplier_id] ?></td>
<td><a href="/activity/<?= $this->ida ?>/delete/<?= $item['id'] ?>" title="vymazat">
        <i class="icon-remove"></i></a>
</td>
</tr>
<?php endforeach; ?>
</tbody>
</table>
<p><a href="/activity/<?= $this->ida ?>/create" class="btn">Pridat zasobu</a></p>
<p><a href="/" class="btn">Naspat</a></p>
