<?php
    $this->headMeta()->setName('Content-Type', 'text/html; charset=utf-8');
    $this->headMeta()->setName('viewport', 'width=device-width, initial-scale=1.0');
    $this->headLink()->setStylesheet($this->baseUrl('css/bootstrap.min.css'), 'screen');
    $this->headScript()->appendFile('http://code.jquery.com/jquery.js');
    $this->headScript()->appendFile($this->baseUrl('js/bootstrap.min.js'));
    $this->headLink()->headLink(array(
        'rel'   => 'alternate', 'type'  => 'application/atom+xml',
        'title' => 'Sklad', 'href'  => '/article/feed'
    ));
?>

<?php print $this->doctype() ?>

<html>
<head>
<title>Sklad</title>
<?php print $this->headMeta() ?>
<?php print $this->headLink() ?>
<?php print $this->headScript() ?>
<style>
    .container {
        padding-top: 60px;
    }
</style>
</head>
<body>
<?=$this->messages()?>
<div class="container">
<?php print $this->layout()->content ?>
<footer>
    <p>&copy; <a href="http://markoweb.sk" target="_blank">markoweb.sk</a> 2013</p>
</footer>
</div>
</body>
</html>
